@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    position: absolute;
    background-image: url("../img/fundopet.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    width: 100%;
    height: 100%;
}

.form-container {
    /* max-width: 600px; */
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 

    /* width: 100vw; */
    /* height: 30vh; */
    margin: 50px Auto;
    margin-bottom: 150px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    /* margin: 50px; */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .form-group button, */

.form-button {
    width: 30%;
    background-color: #52C1B7;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}
button:hover {
  
    background-color: #fff;
    color: #52C1B7;
    border: 1px solid #52C1B7;

}
button i {
    margin-right: 10px;
}

h2 {
    margin: 20px auto;
}

