@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

.imgDetalhes {
    width: 40%;
    border: 1px solid #eee;
    border-radius: 5px;
}

h2 {
    margin: 50px;
}

.container {
    display: flex;
    flex-direction: row;
}



.main-content {
    flex-grow: 1;
}

.main-content h4 {
    margin: 40px 50px 30px;
    font-size: 24px;
}

.main-content p {
    margin: 0px 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.main-content img {
    margin: 0px 50px;
}



.sidebar {
    flex-shrink: 0;
    width: 30%;
    height: 330px;
    margin: 50px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between;*/
    justify-content: space-around;
}

.inputQtdAside {
    display: flex;
    justify-content: space-between;
}

.btnAddCar {
    cursor: pointer;
    background: #238F86;
    border: none;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.inputQtd {
    background: #eee;
    /* border: 3px solid #eee; */
    display: inline-flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.inputQtd button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 15px;
    height: 100%;
}

.inputQtd button:hover {
    background: #a798af;
    color: #fff;
}

.inputQtd span {
    margin: 0 10px;
}

.inputQtd input {
    border: 1px solid #eee;
    height: 100%;
    padding-left: 10px;
    justify-items: center;
}



/* Estilos para dispositivos móveis */



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .imgDetalhes {
      width: 100%;
    }
    
    h2 {
      margin: 20px;
      font-size: 20px;
    }
    
    .container {
      flex-direction: column;
    }
    
    .main-content h4 {
      margin: 20px 30px;
      font-size: 18px;
    }
    
    .main-content p {
      margin: 0px 30px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    
    .main-content img {
      margin: 0px 30px;
      width: 100%;
    }

    .sidebar {
      width: 100%;
      height: auto;
      margin: 20px;
      padding: 10px;
    }
    
    .inputQtdAside {
      flex-direction: column;
    }
    
    .btnAddCar {
      padding: 10px;
      font-size: 14px;
    }
    
    .inputQtd {
      min-width: auto;
      width: 100%;
      margin-top: 10px;
      height: 40px;
    }
    
    .inputQtd input {
      width: 60%;
      font-size: 14px;
    }
    
    .inputQtd button {
      font-size: 14px;
      padding: 0 8px;
    }
    
    .inputQtd span {
      margin: 0 8px;
    }
  }




@media (max-width: 300px) {
    /* .sidebar {
      width: 100%;
      height: auto;
      margin: 20px;
    }
    
    .inputQtdAside {
      flex-direction: column;
    }
    
    .inputQtd {
      min-width: auto;
      width: 100%;
      margin-top: 10px;
    }
    
    .inputQtd input {
      width: 60%;
    } */

    .main-content {
      flex-grow: 1;
    }
    
    .main-content h4 {
      margin: 20px;
      font-size: 18px;
    }
    
    .main-content p {
      margin: 0px 20px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    
    .main-content img {
      margin: 0px 20px;
      width: 100%;
    }

    .imgDetalhes {
      width: 80%;
      margin: 0 auto;
    }
    
    h2 {
      margin: 20px;
      font-size: 20px;
    }
    
    .container {
      flex-direction: column;
    }
  }

  @media (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: auto;
      margin: 20px;
    }
    
    .inputQtdAside {
      flex-direction: column;
    }
    
    .btnAddCar {
      width: 100%;
      margin-top: 10px;
    }
    
    .inputQtd {
      min-width: auto;
      width: 100%;
      margin-top: 10px;
    }
  }