@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background: #F9F9F9;
}

button {
    cursor: pointer;
}

/* ICON */
.logo {
    width: 40px;
}

/* HEADER START */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #52C1B7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);

    /* position: fixed; */
    width: 100%;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    display: flex;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}

#navbar i,
h3 {
    color: #fff;
    display: flex;
    margin: 10px;
}

/* Main */
main {
    background: #fff;
    padding: 0 30px 30px;
}

main .page-title {
    font-size: 40px;
    padding: 50px 0;
    padding-left: 50px;
    text-align: left;
    color: #52C1B7;
}

.content {
    display: flex;
    justify-content: space-between;
    /* margin-right: 20px;
    margin-left: 20px; */
}

main .content section {
    /* background: #063f3a; */
    flex: 1;
}

main .content aside {
    /* background: #ECF5F5; */
    min-width: 250px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead tr th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #353535;
}

table thead tr {
    border-bottom: 3px solid #eee;
}


table tbody tr {
    border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
    border: 0;
}


table tbody tr td {
    padding: 30px 20px;
}

.product {
    display: flex;
    align-items: center;
}

.product img {
    border-radius: 5px;
}

.product .info {
    margin-left: 20px;
}

.product .info .nameProduct {
    font-size: 20px;
    margin-bottom: 10px;
}

.product .info .categoryProduct {
    color: #adadad;
}
.inputQtd {
    background: #eee;
    /* border: 3px solid #eee; */
    display: inline-flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.inputQtd button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 15px;
    height: 100%;
}

.inputQtd button:hover {
    background: #a798af;
    color: #fff;
}

.inputQtd span {
    margin: 0 10px;
}

.inputQtd input {
    border: 1px solid #eee;
    height: 100%;
    padding-left: 10px;
    justify-items: center;
}

/* .qty {
    background: #eee;
    /* border: 3px solid #eee; 
    display: inline-flex;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}

.qty button {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0;
    padding: 0 10px;
    font-size: 15px;
    height: 100%;
}

.qty button:hover {
    background: #a798af;
    color: #fff;
}

.qty span {
    margin: 0 10px;
} */

.remove {
    background: transparent;
    color: #A252C1;
    border: 0;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.remove:hover {
    color: #df3c65;
}

.alinahmentoCar {
    display: flex;
}

aside {
    margin-left: 40px;
    width: 30%;
}

aside .box {
    margin-bottom: 15px;
    /* border: 1px solid #BCDEDB; */
    background: #ECF5F5;
    border-radius: 12px;
}

aside .box header {
    padding: 20px;
    font-size: 20px;
    border-bottom: 1px solid #BCDEDB;
}

aside .box .info {
    padding: 30px 20px;
}
aside .box .info > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

aside .box footer {
    padding:20px;
    font-size: 18px;
    background: #BCDEDB;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

aside button {
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    color: #fff;
    background: #238F86;
    display: block;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
}

.inputTotal {
    text-align: right;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    pointer-events:none;
    outline:none;
    text-indent:-9999px;
  }