@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    position: absolute;
    background-image: url("../img/fundopet.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

textarea, 
.form-select,
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-group input[type="file"] {
    padding: 5px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #52C1B7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group img {
    width: 400px;
    height: 300px;
}